*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Great Vibes', cursive;
    font-family: 'Oswald', sans-serif;
}
div.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
div.nav{
    overflow: hidden;
    position: fixed;
    height: 15vh;
    width: 90vw;
    background-color: white;
    margin: 0px auto;
    margin-top: 3vh;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
}

div.nav div.logo{
    background-image: url(igs-logos.png);
    width: 6vw;
    margin-left: 1vw;
    background-size: 100% 100%;
    height: 13vh;
}

div.nav div.navigation{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.nav div.navigation div.navi{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.nav div.navigation div.one a{
    color: #D01D1D;
    font-weight: 700;
    font-size: 6vh;
    text-decoration: none;
}

div.nav div.navigation div.two a{
    color: #3A3742;
    font-weight: 700;
    font-size: 6vh;
    text-decoration: none;
}
div.nav div.navigation div.three a{
    color: #3A3742;
    font-weight: 700;
    font-size: 6vh;
    text-decoration: none;
}

section.content{
    width: 100%;
    height: 100%;
    background-color:  #312F38;
}
section.content div.text{
    position: relative;
    width: 90vw;
    height: 30vh;
}

div.pageone section.content div.text h1{
    position: absolute;
    color: #D01D1D;
    text-align: left;
    font-size: 400%;
    top: 30vh;
    left: 7vw;
    font-weight: bold;
}
div.pageone section.content div.text h2{
    position: absolute;
    color: #D01D1D;
    text-align: left;
    font-size: 400%;
    top: 40vh;
    left: 7vw;
    font-weight: bold;
}

div.pagetwo section.content{
    width: 100%;
    height: 100%;
    background-color:  #3A3742;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}
div.pagetwo section.content div.text{
    width: 45%;
    height: 60vh;
    margin-bottom: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.pagetwo section.content div.text div.top h1{
    color: #D01D1D;
    font-size: 400%;
}
div.pagetwo section.content div.text div.top{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
}

div.pagetwo section.content div.text div.bottom{
    height: 60%;
    width: 100%;
}
div.pagetwo section.content div.text div.bottom p{
    color: white;
    font-size: 200%;
}

div.pagetwo section.content div.image{
    width: 30%;
    height: 60vh;
    margin-bottom: 13vh;
    background-image: url(sumpah.jpg);
    background-size: 100% 100%;
}
html{
    scroll-behavior: smooth;
}

div.pagethree section.content{
    background-color: #312F38;
}

div.pagethree section.content div.judul{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

div.pagethree section.content div.judul h1{
    color: #D01D1D;
    font-size: 250%;
    font-weight: bold;
}

div.pagethree section.content div.arrows{
    height: calc(100vh - 40vh);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

div.pagethree section.content div.arrows div.first{
    width: 80%;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    
    background-color: #45434F;
}
div.pagethree section.content div.arrows div.first::after{
    content: '';
}

div.pagethree section.content div.arrows div.second{
    width: 70%;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    background-color: #45434F;
}

div.pagethree section.content div.arrows div.third{
    width: 60%;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    background-color: #45434F;
}

div.pagefour section.content div.judul{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

div.pagefour section.content div.judul h1{
    color: #D01D1D;
    font-size: 300%;
    text-align: center;
    font-weight: bold;
}

div.pagefour section.content div.posters{
    height: calc(100vh - 40vh);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.pagefour section.content div.posters div.poster{
    width: 20%;
    height: 90%;
    border-radius: 20px;
    background-color: #45434F;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.pagefour section.content div.posters div.one div.image{
    background-image: url(poster1.jpg);
    background-size: 100% 100%;
    width: 90%;
    height: 90%;
}
div.pagefour section.content div.posters div.two div.image{
    background-image: url(poster2.jpg);
    background-size: 100% 100%;
    width: 90%;
    height: 90%;
}
div.pagefour section.content div.posters div.three div.image{
    background-image: url(poster3.jpg);
    background-size: 100% 100%;
    width: 90%;
    height: 90%;
}
div.pagefour section.content div.posters div.four div.image{
    background-image: url(poster4.jpg);
    background-size: 100% 100%;
    width: 90%;
    height: 90%;
}

div.pagefive section.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.pagefive section.content div.bar{
    width: 100vw;
    height: 30vh;
    z-index: 0;
    background-color: rgb(80, 17, 133);
    position: relative;
}

div.pagefive section.content div.contact{
    background-color: white;
    z-index: 2;
    height: 50vh;
    margin-right: 10vw;
    width: 50vw;
}